<div class="card">

  <div class="card-body">
    <h4 class="card-title">{% trans %}term.callsign{% endtrans %}: {{ round_callsign }} @ {{ round_log[0].w_wwl }}</h1>
    <h6 class="card-title text-muted">{% trans %}term.round{% endtrans %}: {{ round_date }}</h6>
{% block stylesheets %}
    <link href="{{ asset('build/map.css') }}" rel="stylesheet" />
{% endblock %}
    <div id="map" class="map"></div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans %}term.callsign{% endtrans %}</th>
          <th scope="col">WWL</th>
          <th scope="col">QRB</th>
        </tr>
      </thead>
      <tbody>
    {% for entry in round_log %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td><a href="{{ path( 'call_search', {'callsign': entry.callsign} ) }}">{{ entry.callsign }}</a></td>
      <td> {{ entry.q_wwl }} </td>
      <td> {{ entry.qrb }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

</div>

<div class="js-user-location" data-points='{
  "operator": {
    "callsign": "{{ round_callsign }}",
    "location": {
      "lon": "{{ round_log[0].mylon }}",
      "lat": "{{ round_log[0].mylat }}"
    }
  },
  "points": [
{% for entry in round_log %}
  {
    "callsign": "{{ entry.callsign }}",
    "location": {
      "lon": "{{ entry.lon }}",
      "lat": "{{ entry.lat }}"
    }
  },
{% endfor %}
  {}
]}'></div>

{% block javascript %}
    <script src="{{ asset('build/map.js') }}"></script>
{% endblock %}