<div class="card">

  <div class="card-body">
    <h5 class="card-title">{% trans %}lyac.results.title{% endtrans %}:</h5>

    {% if table is not empty %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>{{ year }} - {{ band }}</h4>
        <a href="{{ path('top_scores', {'year': year, 'band': band}) }}" class="btn btn-outline-primary">
            {% trans %}Yearly top{% endtrans %}
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>{{ 'lyac.results.callsign'|trans }}</th>
                {% for m in 1..12 %}
                <th class="text-end">{{ m }}</th>
                {% endfor %}
                <th class="text-end">{{ 'lyac.results.total'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for row in table %}
                {% if not loop.first and row|first is not empty %}
                    <tr>
                    <td>
                    <a href="{{ path('call_search', {'callsign': row|first}) }}">{{ row|first }}</a></td>
                    {% for col in row|slice(1) %}
                        <td class="text-end">{{ col }}</td>
                    {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h6 class="card-subtitle mb-2 text-muted">{% trans %}lyac.results.selection{% endtrans %}</h6>
    {% endif %}

</div>
</div>