<div class="qso-row row mb-2">
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.date) }}</div>
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.time) }}</div>
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.call) }}</div>
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.mode) }}</div>
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.sent) }}</div>
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.rcvd) }}</div>
    <div class="col-12 col-sm-6 col-md-3 col-lg">{{ form_widget(form.wwl) }}</div>
</div> 