<div class="card">

  <div class="card-body">
    <h5 class="card-title">{% trans %}lyac.month.title{% endtrans %}</h5>
    <h6 class="card-text mb-2">{% trans %}lyac.month.lastreport{% endtrans %} {{ lastDate | ago }}.</h6>
    

    <div class="row">

      <div class="card-text col-sm m-2">
      
      <div class="chart-container" style="position: relative; height:300px; width:300px">
        {{ render_chart(lastMonthStatsChart) }}
      </div>

      </div>
      
      <div class="card-text col-sm m-2">

      <div class="chart-container" style="position: relative; height:300px; width:300px">
        {{ render_chart(lastMonthModeStatsChart) }}
      </div>

      </div>

    </div>

  </div>
</div>

<p></p>

<div class="card">
    <div class="card-body">

    <h5 class="card-title text-muted">{% trans %}lyac.month.lastusers{% endtrans %}</h5>
    
    <h5 class="card-text">
    {% for c in lastCallsigns  %}
      <a class="" href="{{ path(
                  'call_search',
                  {'callsign': c.callsign}
                ) }}">{{ c.callsign }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    </h5>

    <div class="card-text mb-2">{% trans %}lyac.month.wheretosend{% endtrans %}: <b>lyac@qrz.lt</b>.</div>
  </div>
</div>
<p></p>
<div class="card">
        <div class="card-body">
            <h5 class="card-title">{% trans %}lyac.month.notreceived{% endtrans %}</h5>

    {% for date,nolog in logsNotReceived  %}
      {% if nolog is not empty %}
            <h6 class="card-title"><a href="{{ path('round', { 'date': date |date('Y-m-d') }) }}">{{ date |date('Y-m-d') }}</a>
            <small class="card-subtitle mb-2 text-muted"> ({{ lastRounds[loop.index-1].name }})</small></h6>
            <p class="card-text text-danger">
            {% for call in nolog %}
                {{ call['callsign'] }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
      {% endif %}
    {% endfor %}</p>
      </div>
  {# include "progress.html.twig" #}

</div>
