<div class="card">

  <div class="card-body">
    <h6 class="card-title">{% trans %}lyac.callsign.lastlogs{% endtrans %}:</h6>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans %}term.date{% endtrans %}</th>
          <th scope="col">{% trans %}term.qso{% endtrans %}</th>
          <th scope="col">{% trans %}term.round{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>

    {% for l in loghistory %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td><a href="{{ path('round', { 'date': l.date |date('Y-m-d') }) }}">{{ l.date |date('Y-m-d') }}</a></td>
      <td><a href="{{ path( 'round_details', {'callsign': callsign | upper, 'date': l.date |date('Y-m-d')} ) }}">{{ l.count }}</td>
      <td>{{ l.band }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>

</div>

</div>